# Python
venv/
__pycache__/
*.pyc
*.pyo
db.sqlite3
*.log

# Node
node_modules/
npm-debug.log

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Django
staticfiles/
media/

# Build
build/
dist/